* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    display: none;
    list-style: none;
    background-color: #fff;
    border: 1px solid red;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px 16px 16px 0;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.clear {
    clear: both;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30% ;
    
}

.noticia img{
    max-width: 100%
}

.destaque {
    margin-bottom: 56px;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
}

.destaque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}